/* Reportes.css */

.reportes-container {

    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 180px; /* Padding inside the container */
    width: 90%; /* Responsive width */
    max-width: 600px; /* Max width for the container */
    margin: 0 auto; /* Center the container */
    text-align: center; /* Center text */
}


.file-upload {
    margin-bottom: 20px; /* Space below the file input */
    text-align: left; /* Align text to the left */
}

.file-upload label {
    font-size: 14px; /* Font size for labels */
    color: #555; /* Grey color for labels */
    display: block; /* Block display for labels */
    margin-bottom: 5px; /* Space below the label */
}

.file-upload input[type="file"] {
    width: 100%; /* Full width for file input */
    padding: 10px; /* Padding inside the input */
    border: 1px solid #ddd; /* Light border */
    border-radius: 5px; /* Rounded corners */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2); /* Inner shadow for depth */
    margin-bottom: 5px; /* Space below the input */
}

.file-format-note {
    font-size: 12px; /* Font size for notes */
    color: #f00; /* Red color for notes */
}

.template-link {
    margin-bottom: 20px; /* Space below the link */
}

.template-download-link {
    color: #6a11cb; /* Color for the template link */
    text-decoration: underline; /* Underline for links */
}

.template-download-link:hover {
    color: #2575fc; /* Change color on hover */
}

.button-container {
    margin-top: 20px; /* Space above the button */
}

.button button{
    background: linear-gradient(135deg, #6a11cb, #2575fc); /* Button gradient */
    color: white; /* White text for button */
    border: none; /* No border */
    padding: 10px 20px; /* Padding for button */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size for button */
    transition: background-color 0.3s; /* Smooth transition */
}

.button button:hover {
    background: linear-gradient(135deg, #89c4f4, #a4d4f4); /* Darken on hover */
}
