<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido/a a Freud IA</title>
    
    <meta name="viewport" content="width=device-width, user-scalabl=no, initial-scale=1.0">
   
    <!-- Link to CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/logo.jpg' %}" type="image/jpg">

    <!-- Icons -->
    <script src="https://kit.fontawesome.com/94b64c1e7a.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="container">
            <div class="menu">
                <!-- Logo -->
                <h1 class="logo">Freud&nbsp;<span>IA</span></h1>

                <nav class="navbar">
                    <ul>
                        <li><a href="{% url 'profesionales' %}">Profesionales</a></li>
                        <li><a href="{% url 'aseguradora' %}">Seguros</a></li>
                        <li><a href="{% url 'panelPsicologo' %}">Panel del Psicólogo</a></li>
                        <li><a href="{% url 'clinicas' %}">Clínicas</a></li>
                        <li><a href="{% url 'chat' %}">Chat</a></li>
                    </ul>
                </nav>

                <!-- JS for menu functionality -->
                <script src="{% static 'js/menu_index.js' %}"></script>

            </div>
            <!-- JS for support functionality -->
            <script src="{% static 'js/soporte.js' %}"></script>

            <!-- Video manual -->
            <hr>
            <div class="video-container">
                <video id="myVideo" autoplay muted controls>
                    <source src="{% static 'video/index.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </header>

    <footer class="pie-pagina">
        <div class="grupo-1">
            <!-- JS for privacy terms -->
            <script src="{% static 'js/privacidad.js' %}"></script>

            <div class="contact-info">
                <a href="https://www.facebook.com/freudia24" style="color: rgb(17, 17, 187);"><i class="fab fa-facebook"></i></a> <br>
                <a href="https://www.youtube.com/@freud-ia" style="color: red;"><i class="fab fa-youtube"></i></a> <br>
                <a href="https://t.me/freud_ia"  style="color: rgb(0, 136, 204) ;"><i class="fab fa-telegram"></i></a> <br>
                <a href="mailto:freudiaweb@gmail.com" style="color: #ee3a3a;"><i class="far fa-envelope"></i></a> <br>
                <a href="https://www.linkedin.com/company/102857368/"><i class="fab fa-linkedin" style="color: #0077B5;"></i></a>
            </div>

            <!-- About Us / Who We Are -->
            <div id="nosotros" class="nosotrosSeccion">
                <h2>¿Quiénes somos?</h2>
                <p>Somos una plataforma dedicada a proporcionar apoyo psicológico en línea. Nuestro equipo está compuesto por psicólogos certificados y autorizados, cada uno con sus respectivas licencias profesionales. Ofrecemos una amplia gama de servicios, incluido un chatbot interactivo con el que los usuarios pueden interactuar. Este chatbot está diseñado para brindar atención similar a la humana, y también ofrecemos apoyo especializado para personas en riesgo de suicidio.</p>
                <br>
            </div>
        </div>
    </footer>
</body>
</html>
