<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/notificaciones.css' %}">
    <link rel="icon" href="{% static 'images/logo.jpg' %}" type="image/jpg">
    <title>Configuración de Notificaciones</title>
</head>
<body>
    <h1>Configuración de Notificaciones</h1>

    <p>Selecciona las categorías según tu interés:</p>
    <form action="{% url 'notificaciones' %}" method="post" onsubmit="displayConfirmationMessage(event)">
        {% csrf_token %}
        <p class="head">De las opciones siguientes sobre cuáles desea recibir mensajes:</p>
        <br>
        <label>
            <input type="checkbox" name="category" value="general"> General
        </label> <br>
        <label>
            <input type="checkbox" name="category" value="soledad"> Soledad
        </label><br>
        <label>
            <input type="checkbox" name="category" value="estres"> Estrés
        </label><br>
        <label>
            <input type="checkbox" name="category" value="motivacion"> Motivación
        </label><br>
        <label>
            <input type="checkbox" name="category" value="ansiedad"> Ansiedad
        </label><br>
        <label>
            <input type="checkbox" name="category" value="celebres"> Célebres
        </label><br>
        <label>
            <input type="checkbox" name="category" value="depresion"> Depresión
        </label><br>
        <label>
            <input type="checkbox" name="category" value="alimentacion"> Alimentación
        </label><br>
        <label>
            <input type="checkbox" name="category" value="dormir"> Dormir
        </label><br>
        <label>
            <input type="checkbox" name="category" value="adicciones"> Adicciones
        </label><br>
        <label>
            <input type="checkbox" name="category" value="suicidio"> Suicidio
        </label><br>
        <label>
            <input type="checkbox" name="category" value="humor"> Humor
        </label><br>
        <label>
            <input type="checkbox" name="category" value="procrastinacion"> Procrastinación
        </label>

        <br>

        <p class="head">¿Cada cuánto tiempo desea recibir los mensajes?</p>
        <br>

        <label>
            <input type="radio" name="time" value="30"> Cada 30 minutos
        </label>
        <br>

        <label>
            <input type="radio" name="time" value="8"> Cada 8 horas
        </label>
        <br>

        <label>
            <input type="radio" name="time" value="12"> Cada 12 horas
        </label>
        <br>
        <label>
            <input type="radio" name="time" value="24"> Cada 24 horas
        </label>

        <br>

        <input type="submit" value="Aceptar"> <br>

        Photo by <a href="https://unsplash.com/@ispywithmylittleeye?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Zeynep Sümer</a> on <a href="https://unsplash.com/photos/a-table-with-a-plant-and-a-window-with-mountains-in-the-background-kpxFYkb3Cfo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
    </form>

    <div id="notificationModal" class="modal">
        <span class="close" onclick="closeNotificationModal()">&times;</span>
        <p>Notificaciones configuradas exitosamente</p>
    </div>

    <div id="errorMessage"></div>

    <script src="{% static 'js/notificaciones.js' %}"></script>
    <script>
        function displayConfirmationMessage(event) {
            event.preventDefault();  // Prevent the default form submission
            document.getElementById('notificationModal').style.display = 'block'; // Show modal
        }

        function closeNotificationModal() {
            document.getElementById('notificationModal').style.display = 'none'; // Hide modal
        }
    </script>
</body>
</html>
