<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/historial.css' %}">
    <link rel="icon" href="{% static 'images/logo.jpg' %}" type="image/jpg">
</head>
<body>
    <a href="{% url 'expediente' %}">Ver Mi Expediente</a>
    <h1>Historial de Mensajes</h1>
    <ul>
        {% for message in messages %}
            <li><strong>Usuario: </strong> {{ message.message }}</li>
            <li><strong>Chatbot: </strong> {{ message.response }}</li>
        {% empty %}
            <li>No hay mensajes en el historial.</li>
        {% endfor %}
    </ul>
</body>
</html>
